* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}

section#profile {
  position: static;
}

section#profile div.profile {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

section#profile div.profile img.profile-img {
  position: absolute;
  top: 0;
  max-width: 100%;
}

section#profile div.profile div.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

section#profile div.profile h1.greeting {
  position: absolute;
  top: 15rem;
  left: 14rem;
  color: #fbf3f2;
  font-size: 3.5rem;
  z-index: 3;
  font-weight: 500;
}

section#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbf3f2;
  -webkit-box-shadow: 0 4px 2px -2px gray;
          box-shadow: 0 4px 2px -2px gray;
}

section#navbar div.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5rem;
}

section#navbar ul li {
  list-style: none;
  padding-top: 0.8rem;
}

section#navbar ul li a {
  color: #1c768f;
  text-decoration: none;
  margin: 1.25rem;
  font-size: 1.25rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c768f), to(#1c768f));
  background-image: linear-gradient(#1c768f, #1c768f);
  background-position: left bottom;
  background-size: 0 0.2rem;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.25s linear;
  transition: background-size 0.25s linear;
}

section#navbar ul li a:hover {
  background-size: 100% 0.2rem;
}

section#navbar ul li a.active {
  background-size: 100% 0.2rem;
}

h2.section-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: #fbf3f2;
}

h3.middle-title {
  color: #fbf3f2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 6rem;
}

h4.card-title {
  color: #032539;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

div.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9.3vw;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
}

div.card {
  background-color: #fbf3f2;
  border-radius: 0.5rem;
  margin: 0.5rem 1vw;
}

section#about-me {
  background-color: #032539;
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#about-me img {
  width: 10rem;
  border-radius: 10rem;
  margin-bottom: 1.75rem;
}

section#about-me div.p-container {
  width: 42%;
  color: #fbf3f2;
  text-align: center;
}

section#ability {
  background-color: #fa991c;
  height: 32rem;
}

section#ability h2#ability {
  color: #fbf3f2;
}

section#ability div.card#learned {
  width: 24.65vw;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#ability div.card#learned a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#ability div.card#learning {
  width: 24.65vw;
  height: 3rem;
}

section#experience {
  background-color: #032539;
  height: 69rem;
}

section#experience div.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#experience div.card-container div.card#completed1,
section#experience div.card-container div.card#completed2 {
  width: 78vw;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.25rem 0 0 1.5rem;
}

section#experience div.card-container div.card#completed1 div.content-row,
section#experience div.card-container div.card#completed2 div.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#experience div.card-container div.card#completed1 div.content-card,
section#experience div.card-container div.card#completed2 div.content-card {
  margin: 0 0.5rem;
}

section#experience div.card-container div.card#completed1 div.content,
section#experience div.card-container div.card#completed2 div.content {
  margin: 0 0.5rem;
}

section#experience div.card-container div.card-in-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.25rem;
}

section#experience div.card-container div.card-in-card-container div.card#paper {
  background-color: #032539;
  width: 72vw;
  height: 13vh;
  position: relative;
  margin-bottom: 0.25rem;
}

section#experience div.card-container div.card-in-card-container div.card#paper h4 {
  color: #fbf3f2;
  margin: 0.75rem 0 0 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

section#experience div.card-container div.card-in-card-container div.card#paper p {
  color: #fa991c;
  margin-left: 1rem;
}

section#experience div.card-container div.card-in-card-container div.card#paper a {
  width: 1.5rem;
  position: absolute;
  bottom: 0.75rem;
  right: 1.1rem;
}

section#experience div.card-container div.card-in-card-container div.card#paper a i {
  color: #fbf3f2;
  font-size: 1.5rem;
}

section#footer {
  background-color: #fa991c;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.25rem;
}

section#footer ul li {
  list-style: none;
}

section#footer ul li a i {
  margin: 0.5rem 1rem;
  color: #fbf3f2;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */