* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
}

$darkTheme: #032539;
$lightTheme: #1c768f;
$orangeTheme: #fa991c;
$whiteTheme: #fbf3f2;

section.profile {
  position: static;
  div.profile {
    width: 100%;
    height: 110vh;
    position: relative;
    img.profile-img {
      width: 100%;
      height: 110vh;
      position: absolute;
      top: 0;
    }
    div.mask {
      position: absolute;
      top: 0;
      width: 100%;
      height: 110vh;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }
    h1.greeting {
      position: absolute;
      top: 15rem;
      right: 18rem;
      color: $whiteTheme;
      font-size: 4rem;
      z-index: 3;
      font-weight: 500;
    }
  }
}

section.navbar {
  position: sticky;
  top: 0;
  padding: 1rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $whiteTheme;
  box-shadow: 0 4px 2px -2px gray;
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        color: $lightTheme;
        text-decoration: none;
        margin: 1.5rem;
        font-size: 1.5rem;
      }
    }
  }
}

h2.section-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: $whiteTheme;
}
h3.middle-title {
  color: $whiteTheme;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 6rem;
}
h4.card-title {
  color: $darkTheme;
  text-align: center;
  margin-top: 0.75rem;
  font-size: 1.25rem;
}

div.card-container {
  display: flex;
  margin-left: 9.3vw;
  margin-top: 0.5rem;
  margin-bottom: 1.75rem;
}
div.card {
  background-color: $whiteTheme;
  border-radius: 0.5rem;
  margin: 0.5rem 1vw;
}

section.about-me {
  background-color: $darkTheme;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2#about-me {
    color: $whiteTheme;
  }
  img {
    width: 10rem;
    border-radius: 10rem;
    margin-bottom: 1.75rem;
  }
  div.p-container {
    width: 45%;
    color: $whiteTheme;
    text-align: center;
  }
}

section.ability {
  background-color: $orangeTheme;
  height: 56rem;
  h2#ability {
    color: $whiteTheme;
  }
  div.card#learned {
    width: 18vw;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    img#ability-1 {
      width: 90%;
      margin-top: 1rem;
    }
    img#ability-2,
    img#ability-3,
    img#ability-4 {
      width: 95%;
      margin-bottom: 0.5rem;
    }
  }
  div.card#proficient {
    width: 38vw;
    height: 43vh;
    h4 {
      margin-top: 1.25rem;
    }
    div.card-content-container {
      table {
        margin: 1rem 1.2rem;
        td {
          color: $lightTheme;
          padding: 0.4rem 0.5rem;
          div.progress-bar {
            width: 17rem;
            height: 1.5rem;
            background-color: rgba(28, 118, 143, 0.1);
            border-radius: 0.3rem;
          }
          #len80 {
            border-left: 13.6rem solid $lightTheme;
          }
          #len70 {
            border-left: 11.9rem solid $lightTheme;
          }
          #len70-2 {
            border-left: 10.5rem solid $lightTheme;
          }
          #len65 {
            border-left: 11.05rem solid $lightTheme;
          }
          #len65-2 {
            border-left: 9.75rem solid $lightTheme;
          }
          #len60 {
            border-left: 10.2rem solid $lightTheme;
          }
        }
      }
    }
  }
  div.card#learning {
    width: 24.65vw;
    height: 3rem;
  }
}

section.experience {
  background-color: $darkTheme;
  height: 30vh;
}

section.works {
  background-color: $orangeTheme;
  height: 220vh;
  div.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div.card#working {
      width: 38vw;
      height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    div.card#completed1,
    div.card#completed2 {
      width: 78vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.25rem 0 0 1.5rem;
    }

    div.card#completed1 {
      height: 40vh;
    }
    div.card#completed2 {
      height: 63vh;
    }
    div.card-in-card-container {
      margin-top: 0.5rem;
      div.card#paper {
        background-color: $darkTheme;
        width: 72vw;
        height: 13vh;
        position: relative;
        margin: 0.75rem;
        h4 {
          color: $whiteTheme;
          margin: 0.75rem 0 0 1rem;
          font-weight: 500;
          font-size: 1.2rem;
        }
        p {
          color: $orangeTheme;
          margin-left: 1rem;
        }
        a {
          width: 1.5rem;
          fill: $whiteTheme;
          color: $whiteTheme;
          position: absolute;
          bottom: 0.5rem;
          right: 1rem;
        }
      }
    }
  }
}

section.footer {
  background-color: $whiteTheme;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      a {
        img.footer-icon {
          width: 1.5rem;
          margin: 1rem 1rem 0.75rem 1rem;
        }
      }
    }
  }
}
