---
import "../styles/global.css";
import { NavBar } from "../components/Navbar";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <NavBar />
    <h1>Coming Soon!</h1>
  </body>

  <style>
    body {
      position: relative;
      height: 100vh;
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</html>
