---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PostBlock } from "../components/PostBlock";

const allPosts = await Astro.glob("./posts/*.mdx");
---

<BaseLayout pageTitle="Lynn's Blog">
  <div class="container">
    {
      allPosts.map((post) => (
        <PostBlock
          title={post.frontmatter.title}
          content={post.frontmatter.description}
          url={post.url}
        />
      ))
    }
  </div>

  <style>
    .container {
      width: calc(100vw - 20rem);
      max-width: 50rem;
    }
  </style>
</BaseLayout>
