---
import { Collection } from '../components/Collection'

const { frontmatter } = Astro.props
---

<html>
  <div class="container">
    <h1>{frontmatter?.title}</h1>
    {
      frontmatter?.collection && (
        <Collection collection={frontmatter.collection} />
      )
    }
    <div class="content-container">
      <slot />
    </div>
  </div>

  <style>
    * {
      line-height: 1.5rem;
      color: #0f172a;
    }
    .container {
      max-width: 50rem;
      h1 {
        font-weight: 500;
      }
      h2 {
        margin-top: 3rem;
      }
      h3 {
        margin-top: 2rem;
      }
      a:not(#collection) {
        color: #6366f1;
        text-decoration: none;
      }
    }
  </style>


</html>
