---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="container">
    <h1>{frontmatter.title}</h1>
    <div class="content-container">
      <slot />
    </div>
  </div>

  <style>
    * {
      line-height: 1.5rem;
      color: #262a56;
    }
    .container {
      max-width: 50rem;
      h1 {
        color: #4a55a2;
      }
      h2 {
        margin-top: 3rem;
      }
      h3 {
        margin-top: 2rem;
      }
    }
  </style>
</BaseLayout>
